---
const {
  number = '+54',
  title = 'New messages',
  type = 'success'
} = Astro.props
---

<div class="stats shadow">
  <div class="stat">
    <p class="stat-value">{number}</p>
    <p class="stat-title">{title}</p>
  </div>
</div>
