---
const {
  number = '+54',
  title = 'New messages',
  type = 'success'
} = Astro.props
---

<div class="">
  <p class="">
    <strong>{number}</strong>
  </p>
  <p class="">
    <em>{title}</em>
  </p>
</div>


