---
const {
  number = '+54',
  title = 'New messages',
  type = 'success'
} = Astro.props
---

<div class="card bg-base-100 shadow-lg p-6 text-center">
  <div class="card-body">
    <p class="text-5xl font-bold text-{type}">{number}</p>
    <p class="text-lg italic">{title}</p>
  </div>
</div>