---
import { Icon } from 'astro-icon'
---
<aside class="h-screen sticky top-0 overflow-y-auto w-60 py-6 px-4 bg-base-200">
    <a class="btn btn-ghost">
        <img alt="Logo" src="/astro-logos.svg" class="w-6"/> 
        <!-- <Icon pack="majesticons" name="home-line" /> <span>Dashboard</span> -->
    </a>

    <ul class="menu px-0">
        <li>
            <a href="/products/" class="flex items-center gap-4">
              <!-- <Icon pack="majesticons" name="shopping-cart-line" /> <span>Products</span> -->
            </a>
        </li>
        <li>
            <a href="/users/" class="flex items-center gap-4">
              <!-- <Icon pack="majesticons" name="users-line" /> <span>Users</span> -->
            </a>
        </li>
        <li>
            <a href="/messages/" class="flex items-center gap-4">
              <!-- <Icon pack="majesticons" name="messages-line" /> <span>Messages</span> -->
            </a>
        </li>
        <li> 
            <a href="/media/" class="flex items-center gap-4">
              <!-- <Icon pack="majesticons" name="image-line" /> <span>Media</span> -->
            </a>
        </li>
    </ul>
</aside>
