---
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'

const { title } = Astro.props
let subtitle = 'Accessible Astro Dashboard'
---

<html lang="en" dir="ltr" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">

    <!-- Open Graph -->
    <meta property="og:title" content="Accessible Astro Dashboard">
    <meta property="og:description" content="An Accessible Dashboard Theme for Astro including a login page, a dashboard page, and several other pages and components.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dashboard.accessible-astro.dev">
    <meta property="og:image" content="/social-preview-image.png">

    <!-- Page Title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body class="bg-base-200">
    <header class="p-4 shadow-md bg-base-100 flex justify-between items-center">
      <SkipLinks />
      <!-- <DarkMode class="ml-auto" /> -->
    </header>

    <div class="flex">
      <Navigation />
            <!-- Main Content -->
      <main id="main-content" class="p-6 flex-1">
        <slot />
      </main>
    </div>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let isLoggedIn = localStorage.getItem('isLoggedIn');
    if (!isLoggedIn) {
      window.location.href = '/login';
    }
  });
</script>
